@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url('./assets/fonts/Inter-Regular.otf');
}
@font-face {
  font-family: InterMedium;
  src: url('./assets/fonts/Inter-Medium.otf');
}
@font-face {
  font-family: InterBold;
  src: url('./assets/fonts/Inter-Bold.otf');
}

@layer components {
  blockquote {
    @apply rounded-2xl p-4 dark:bg-slate-950 border border-transparent dark:border-white/[0.2] border-slate-700 relative z-20;
  }
}

body {
  font-family: Inter, sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0;
  line-height: 3rem;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 0;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0;
}
ol,
ul,
li {
  margin: 20px 0;
}
img {
  margin: 30px 0;
}
blockquote {
  padding: 20px;
  margin: 20px;
}

.links {
  text-decoration: underline;
}
.markdown-file ul {
  list-style: inside;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(75, 73, 74);
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: black;
  box-shadow: inset 8px -4px 0 0 white;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #424141c5;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
  background-color: yellow;
  box-shadow: none;
}

/* From Uiverse.io by vinodjangid07 */
.bookmarkBtn {
  width: 100px;
  height: 35px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}

.IconContainer {
  width: 25px;
  height: 25px;
  background: linear-gradient(to bottom, rgb(255, 136, 255), rgb(172, 70, 255));
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 15px;
}

.bookmarkBtn:hover .IconContainer {
  width: 90px;
  transition-duration: 0.3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}
